<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div style=" background-color: white; display: flex; justify-content: center; align-items: center; flex-direction: column; min-width: max-content; height: 800px; overflow: hidden;">
                <p role="alert" style="font-size: 200px;">404</p>
                <p role="alert">Пачуля ничего не нашла на этой странице</p>
                <p role="alert">Пачуля плачет</p>
                <lottie-player src="./images/notFound.json" background="white"  speed="2"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
            </div>
        </LayoutView>
    </NotFound>
</Router>
